.custom-select {
    height: 80px;
    padding-top: 40px;
}

.custom-select#id-bantuan,
.p-3#balance {
    padding-left: 1.4rem !important;
    padding-right: 1.4rem !important;
}

#modalTambahKebutuhan .custom-select,
#modalFormRab .custom-select {
    height: 60px;
    padding-top: 30px;
}

#modalTambahKebutuhan .custom-select,
#modalTambahKebutuhan input,
#modalFormRab .custom-select,
#modalFormRab input {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

#modalTambahKebutuhan .form-label-group label,
#modalFormRab .form-label-group label {
    left: calc(1rem + 1px) !important;
}

#bantuan > span {
    padding-left: calc(1.6em - 2.6px);
    padding-right: calc(1.6em - 2.6px);
}

#kategori > span,
#kebutuhan > span {
    padding-left: calc(1rem + 1px) !important;
    padding-right: calc(1rem + 1px) !important;
}

#input-keterangan {
    padding-left: 1.6em;
    padding-right: 1.6em;
}

#id-bantuan[disabled] {
    background-color: white;
    border-color: var(--primary);
}

#list-area table thead tr th:first-of-type {
    padding-left: 1.325rem !important;

}

#list-area table thead tr th:first-of-type {
    border-left: 1px solid #e9ecef !important;
}

#list-area table thead tr th:last-of-type {
    border-right: 1px solid #e9ecef !important;
}

#list-area table tbody tr td:first-of-type {
    padding-left: 1.6em;
}

[data-dismiss] {
    cursor: pointer;
}

.tooltip-inner {
    text-align: left;
}