#modalBuatRencana .table-borderless th {
    border-top-width: 1px;
    border-top-style: solid;
}

#modalBuatRencana .rounded.col-12.mx-3.mx-md-0 {
    flex-basis: calc(100% - 2rem);
}

h2 {
    font-size: 1rem;
    width: 50%;
}

.btn[data-target="#modalBuatRencana"] {
    height: 44px;
    width: 48px;
}

.custom-select {
    height: 80px;
    padding-top: 40px;
}

.custom-select#id-bantuan,
.p-3#balance {
    padding-left: 1.4rem !important;
    padding-right: 1.4rem !important;
}

#modalTambahKebutuhan .custom-select,
#modalFormRab .custom-select {
    height: 60px;
    padding-top: 30px;
}

#modalTambahKebutuhan .custom-select,
#modalTambahKebutuhan input,
#modalFormRab .custom-select,
#modalFormRab input {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

#modalTambahKebutuhan .form-label-group label,
#modalFormRab .form-label-group label {
    left: calc(1rem + 1px) !important;
}

#bantuan > span {
    margin-left: calc(1.6em - 2.6px);
    margin-right: calc(1.6em - 2.6px);
}

#kategori > span,
#kebutuhan > span {
    margin-left: calc(1rem + 1px) !important;
    margin-right: calc(1rem + 1px) !important;
}

#bantuan > span,
#kategori > span,
#kebutuhan > span {
    pointer-events: none;
}

#input-keterangan {
    padding-left: 1.6em;
    padding-right: 1.6em;
}

#id-bantuan[disabled],
#input-keterangan[disabled] {
    opacity: 1;
    background-color: white;
    border-color: var(--primary);
}

#spec-ket::before {
    content: '(Ket. ';
    left: 0;
    color: var(--dark);
}

#spec-ket::after {
    content: ')';
    right: 0;
    color: var(--dark);
}

#list-area table thead tr th:first-of-type {
    padding-left: 1.325rem !important;

}

#list-area table thead tr th:first-of-type {
    border-left: 1px solid #e9ecef !important;
}

#list-area table thead tr th:last-of-type {
    border-right: 1px solid #e9ecef !important;
}

#list-area table tbody tr td:first-of-type {
    padding-left: 1.6em;
}

[data-dismiss] {
    cursor: pointer;
}

.tooltip-inner {
    text-align: left;
}

/* Select2 */
.select2-results .select2-results__option--highlighted .badge {
    color: var(--primary);
}

select.custom-select ~ .select2 > .selection > .select2-selection {
    height: 80px;
}

select.custom-select ~ .select2 > .selection > .select2-selection .select2-selection__rendered {
    padding-left: 10px !important;
    padding-right: 2px;
}

select.custom-select ~ .select2 > .selection > .select2-selection .select2-selection__rendered > label {
    font-weight: bolder;
    margin-top: 0.25rem;
    margin-bottom: 0rem;
}

select.custom-select ~ .select2 .select2-selection__arrow {
    display: flex;
    height: 50%;
    width: 40px;
    top: 4px;
    right: 9px;
}

@media (min-width: 768px) {
    #modalBuatRencana .rounded.col-12.mx-3.mx-md-0 {
        flex-basis: 0;
    }

    .btn[data-target="#modalBuatRencana"] {
        height: auto;
        width: auto;
    }

    h2 {
        font-size: 1.25rem;
        width: auto;
    }
}